<div class="flex flex-col items-center justify-center">
  <header class="container m-10">
    <app-menu></app-menu>
    <a href="/">
      <h1
        class="bg-clip-text text-transparent bg-gradient-to-r from-purple-500 to-indigo-900 font-serif font-black text-6xl text-center mt-10"
      >
        TMDB Movies
      </h1>
    </a>

    <app-search></app-search>
  </header>
  <main class="my-10 container">
    <router-outlet></router-outlet>
  </main>
  <footer class="container">
    <div class="m-10 text-center">
      Desenvolvido por
      <a
        href="https://github.com/davidwjdev"
        target="_blank"
        class="text-purple-500"
      >
        &#64;davidwjdev
      </a>
      utilizando
      <a
        href="https://developer.themoviedb.org/"
        target="_blank"
        class="text-purple-500"
        >TMDB API</a
      >
    </div>
  </footer>
</div>
