<nav
  class="font-serif m-5 flex justify-end sm:flex-col md:flex-col lg:flex-row"
>
  <a class="m-3 hidden lg:inline-block" href="#">Home</a>
  <a class="m-3 hidden lg:inline-block" href="#">Movies</a>
  <a class="m-3 hidden lg:inline-block" href="#">Categories</a>
  <a class="m-3 hidden lg:inline-block" href="#">People</a>

  <div class="flex flex-col w-full">
    <div
      class="lg:hidden cursor-pointer flex justify-end p-3"
      (click)="toggleMenu()"
    >
      <fa-icon [icon]="faBars"> </fa-icon>
    </div>
    <div
      [ngClass]="{ hidden: !isMenuOpen }"
      class="lg:hidden flex flex-col items-center"
    >
      <a href="#" class="m-1">Home</a>
      <a href="#" class="m-1">Movies</a>
      <a href="#" class="m-1">Categories</a>
      <a href="#" class="m-1">Actors</a>
    </div>
  </div>
</nav>
